body {
  font-family: 'Helvetica Light', sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Din condensed', sans-serif;
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Din condensed', sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #3f426d;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: Helvetica, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
}

a {
  color: hsla(201.66666666666669, 43.59%, 43.18%, 1.00);
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 20px;
}

li {
  line-height: 22px;
}

strong {
  font-family: Helvetica, sans-serif;
  color: #3f426d;
  font-weight: 300;
  letter-spacing: 0px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 150px;
  padding-top: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  max-width: 140px;
  margin-left: 120px;
  padding-top: 13px;
  padding-bottom: 11px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-color: #63bff3;
  font-family: 'Helvetica Bold Italic', sans-serif;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(45, 47, 78, .61);
}

.header-pinstripe {
  position: absolute;
  width: 100%;
  height: 7px;
  background-color: #5ae3b1;
}

.header-pinstripe.pink {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 5px;
  background-color: #dca0c9;
}

.header-pinstripe.green {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  height: 5px;
}

.header-pinstripe.green.fixed-top {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
}

.header-pinstripe.blue-bar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  height: 5px;
}

.header-pinstripe.blue-bar.fixed-top {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 3;
}

.header-pinstripe.blue.fixed-top {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 5;
  height: 5px;
  background-color: #63bff3;
}

.body {
  background-color: #00162b;
}

.image {
  width: 25px;
}

.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 20px;
  font-family: 'Din condensed', sans-serif;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
}

.hero-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 32px;
  font-family: 'Din condensed', sans-serif;
  line-height: 90px;
  text-align: left;
}

.hero-heading.hero-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hero-heading._2 {
  padding-left: 0px;
}

.background-video {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  height: 130%;
}

.testimonials {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  max-height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2d2f4e;
}

.hero-headline-cont {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-left: 65px;
  padding: 5px 25px;
}

.hero-headline-cont._2 {
  margin-top: -24px;
  margin-left: 95px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.packages {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #63bff3;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-height: 525px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #00162b;
}

.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  min-height: 100vh;
  padding-top: 70px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #5ae3b1;
}

.package-card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 350px;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 10px;
  background-color: #fff;
}

.package-container-desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading-2 {
  color: #000;
}

.paragraph {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.paragraph.gray {
  color: #333;
  text-align: left;
}

.package-title {
  margin-bottom: 5px;
  text-align: center;
}

.div-block-2 {
  display: block;
  width: 150px;
  height: 4px;
  margin: 10px auto 15px;
  border-radius: 30px;
  background-color: #e7e4e4;
}

.button {
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
  border-radius: 10px;
  background-color: #63bff3;
  font-family: 'Helvetica Bold Italic', sans-serif;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.button.green {
  background-color: #5ae3b1;
}

.button.pink {
  background-color: #dca0c9;
}

.button.submit {
  margin-top: 15px;
}

.button.package {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.button.more {
  margin-top: 20px;
  background-color: #fff;
  color: #63bff3;
}

.button.gold {
  background-color: hsla(44.761904761904766, 99.21%, 49.80%, 1.00);
}

.testimonials-img {
  position: static;
  left: -25%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  margin-left: -310px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.heading-3 {
  display: block;
}

.testimonials-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.slide-nav {
  display: none;
}

.slide {
  padding-right: 90px;
  padding-left: 90px;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 90px;
}

.heading-4.testimonials-heading {
  margin-left: -15px;
  text-align: center;
}

.paragraph-2 {
  margin-right: 75px;
  margin-left: 75px;
}

.testimonials-text {
  font-family: 'Din condensed', sans-serif;
}

.testimonials-text h4 {
  margin-top: 45px;
  color: #fff;
  font-size: 28px;
  text-align: right;
}

.testimonials-text p {
  font-family: 'Helvetica Light Italic', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  font-weight: 300;
}

.slide-2 {
  padding-right: 90px;
  padding-left: 90px;
}

.slider {
  min-height: 225px;
  background-color: hsla(0, 0%, 87%, 0);
}

.mask {
  overflow: hidden;
}

.slide-3 {
  padding-right: 90px;
  padding-left: 90px;
}

.text-span {
  color: #63bff3;
}

.pkg-slider {
  display: none;
}

.form-field {
  margin-bottom: 15px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 15px;
  border: 1px none #000;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
}

.form-field.message {
  height: 125px;
  padding-top: 10px;
  border: 1px none #000;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.success-message {
  background-color: transparent;
  color: #fff;
  line-height: 25px;
}

.error-message {
  border: 1px none #000;
  border-radius: 10px;
  background-color: #dca0c9;
  color: #fff;
  text-align: center;
}

.about-slider {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.left-arrow-3 {
  display: none;
}

.right-arrow-3 {
  display: none;
}

.slide-nav-2 {
  display: none;
}

.blue {
  color: #63bff3;
}

.blue.about-me {
  position: static;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Helvetica Bold Italic', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.top.center {
  z-index: 2;
  margin-top: 95px;
  text-align: center;
}

.about-img {
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  min-width: 100%;
  opacity: 0.25;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.about-img._2 {
  top: 0px;
  max-width: none;
  min-height: 100%;
}

.about-img._3 {
  top: auto;
  min-height: 50vh;
  min-width: 100%;
}

.image-2 {
  position: absolute;
}

.about-slider-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 148px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-slider-text {
  position: relative;
  z-index: 1;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Helvetica Bold', sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.about-pinstripe {
  position: relative;
  z-index: 1;
  width: 80%;
  height: 5px;
  max-width: 200px;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #63bff3;
}

.about-pinstripe._2 {
  max-width: 250px;
  background-color: #5ae3b1;
}

.about-pinstripe._3 {
  max-width: 230px;
  background-color: #dca0c9;
}

.about-pinstripe._4 {
  max-width: 180px;
  background-color: #5ae3b1;
}

.about-pinstripe._5 {
  max-width: 250px;
}

.about-pinstripe._6 {
  background-color: #5ae3b1;
}

.about-pinstripe._7 {
  max-width: 310px;
  background-color: #dca0c9;
}

.about-pinstripe._8 {
  max-width: 175px;
  background-color: #5ae3b1;
}

.about-pinstripe._9 {
  max-width: 160px;
}

.slide-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-6 {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hero-heading-cover {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  background-color: #63bff3;
}

.hero-heading-cover._2 {
  background-color: #5ae3b1;
}

.hero-headline-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.package-text {
  margin-top: 5px;
}

.package-text p {
  color: #333;
  font-size: 16px;
  line-height: 18px;
}

.package-text li {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 22px;
  list-style-type: disc;
}

.package-text ul {
  padding-right: 10px;
  padding-left: 20px;
}

.package-subtitle {
  margin-top: 3px;
  margin-bottom: 3px;
  font-family: 'Helvetica Bold Italic', sans-serif;
  color: #5ae3b1;
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.package-subtitle.pink {
  color: #dca0c9;
}

.package-subtitle.gold {
  color: hsla(44.761904761904766, 99.21%, 49.80%, 1.00);
}

.addons {
  max-width: 400px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.addons-text p {
  font-family: 'Helvetica Light', sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 24px;
}

.addons-text ul {
  padding-left: 35px;
}

.addons-text li {
  line-height: 24px;
}

.footer {
  background-color: #2d2f4e;
}

.text-block-2 {
  text-align: center;
}

.footer-text {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 40px;
  color: #8f8f8f;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 991px) {
  .header-pinstripe.green {
    width: 100vw;
  }
  .header-pinstripe.blue-bar {
    width: 100vw;
  }
  .testimonials {
    position: relative;
    overflow: hidden;
    height: auto;
    max-height: none;
    padding-top: 75px;
    padding-bottom: 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .package-title {
    font-size: 32px;
  }
  .testimonials-img {
    position: absolute;
    left: -200px;
    top: auto;
    right: auto;
    bottom: -200px;
    z-index: 0;
    width: auto;
    height: 500px;
    margin-left: -1px;
    opacity: 0.2;
  }
  .testimonials-block {
    width: 100%;
  }
  .slide {
    background-color: transparent;
  }
  .heading-4 {
    margin-bottom: 20px;
  }
  .heading-4.testimonials-heading {
    margin-left: 0px;
    text-align: center;
  }
  .slide-2 {
    background-color: transparent;
  }
  .slider {
    background-color: transparent;
  }
  .slide-3 {
    background-color: transparent;
  }
  .about-img {
    left: -10%;
    max-height: 100%;
    max-width: none;
    min-height: 100%;
    min-width: 100%;
  }
  .about-img._2 {
    left: -25%;
  }
  .about-img._3 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    max-height: none;
    max-width: 100%;
  }
  .about-img._4 {
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    max-height: 140%;
    max-width: 140%;
  }
}

@media (max-width: 767px) {
  .hero-button {
    margin-left: 0px;
  }
  .hero {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-pinstripe.green {
    position: absolute;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .header-pinstripe.blue-bar {
    position: absolute;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .logo {
    left: 0px;
    top: 0px;
    right: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .hero-heading {
    padding-left: 0px;
    text-align: center;
  }
  .hero-headline-cont {
    margin-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-headline-cont._2 {
    margin-left: 0px;
  }
  .packages {
    overflow: hidden;
    height: auto;
    max-height: none;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .contact {
    padding-right: 27px;
    padding-left: 27px;
  }
  .package-card {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .package-container-desktop {
    display: none;
    overflow: scroll;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .slide {
    padding-right: 45px;
    padding-left: 45px;
  }
  .heading-4 {
    margin-left: 0px;
    text-align: center;
  }
  .testimonials-text p {
    font-size: 22px;
    line-height: 32px;
  }
  .slide-2 {
    padding-right: 45px;
    padding-left: 45px;
  }
  .slider {
    min-height: 300px;
  }
  .slide-3 {
    padding-right: 45px;
    padding-left: 45px;
  }
  .left-arrow {
    margin-left: -20px;
  }
  .right-arrow {
    margin-right: -20px;
  }
  .pkg-slider {
    display: block;
    width: 100%;
    min-height: 450px;
    background-color: transparent;
  }
  .pkg-mask {
    overflow: hidden;
    height: 100%;
  }
  .pkg-1 {
    height: 100%;
  }
  .pkg-slide-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .form {
    width: 100vw;
    padding-right: 35px;
    padding-left: 35px;
  }
  .about-img {
    left: -24%;
  }
  .about-img._2 {
    left: -65%;
  }
  .about-img._3 {
    top: 0px;
    min-height: 100%;
    min-width: 0%;
  }
  .hero-headline-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 479px) {
  .hero-button {
    margin-right: auto;
    margin-left: auto;
  }
  .hero {
    height: 88vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-heading {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 58px;
    line-height: 60px;
  }
  .hero-heading._2 {
    margin-top: 15px;
  }
  .background-video {
    margin-left: -220px;
  }
  .testimonials {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero-headline-cont._2 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .packages {
    padding-bottom: 50px;
  }
  .contact {
    height: auto;
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .package-card {
    padding-right: 18px;
    padding-left: 18px;
  }
  .package-title {
    font-size: 34px;
  }
  .div-block-2 {
    margin-bottom: 10px;
  }
  .button.more {
    margin-top: 0px;
  }
  .button.more.w--current {
    margin-bottom: 10px;
  }
  .testimonials-img {
    width: 500px;
    height: 500px;
    max-width: none;
  }
  .slide {
    padding-right: 35px;
    padding-left: 35px;
  }
  .heading-4.testimonials-heading {
    margin-top: 40px;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 58px;
    line-height: 60px;
  }
  .testimonials-text h4 {
    margin-top: 25px;
    font-size: 24px;
    line-height: 30px;
  }
  .testimonials-text p {
    font-size: 20px;
    line-height: 28px;
  }
  .slider {
    min-height: 400px;
  }
  .pkg-slider {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .right-arrow-2 {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    width: 50px;
    height: 50px;
  }
  .left-arrow-2 {
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    width: 50px;
    height: 50px;
  }
  .icon {
    margin-right: 15px;
  }
  .icon-2 {
    margin-left: 15px;
  }
  .form {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading-5 {
    font-size: 58px;
    line-height: 60px;
  }
  .success-message {
    background-color: transparent;
  }
  .text-block {
    color: #fff;
    line-height: 25px;
  }
  .error-message {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 18px;
    background-color: #dca0c9;
    color: #fff;
    line-height: 25px;
    text-align: center;
  }
  .top.center {
    font-size: 58px;
    line-height: 60px;
  }
  .about-img {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    max-height: 100%;
    min-height: 100%;
  }
  .about-img._2 {
    left: -149%;
  }
  .about-img._3 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    max-height: 100%;
    max-width: none;
    min-width: 100%;
  }
  .about-img._4 {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    max-height: 100%;
    max-width: none;
  }
  .about-img._5 {
    left: -56%;
  }
  .about-img._6 {
    left: -128%;
  }
  .about-img._7 {
    left: -64%;
  }
  .about-img._9 {
    left: -74%;
  }
  .about-slider-text {
    font-size: 30px;
    line-height: 35px;
  }
  .slide-cont {
    padding-right: 20px;
    padding-left: 20px;
  }
  .heading-6 {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 58px;
    line-height: 60px;
  }
  .hero-headline-wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }
  .package-text li {
    font-size: 18px;
  }
  .addons-text p {
    font-size: 18px;
  }
  .addons-text li {
    font-size: 18px;
  }
  .addons-wrapper {
    margin-bottom: 35px;
  }
  .slide-nav-3 {
    display: block;
  }
}

@font-face {
  font-family: 'Din condensed';
  src: url('../fonts/DIN-Condensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Light';
  src: url('../fonts/Helvetica-Light-05.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Light Italic';
  src: url('../fonts/Helvetica-LightOblique-06.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Bold Italic';
  src: url('../fonts/Helvetica-BoldOblique-04.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Bold';
  src: url('../fonts/Helvetica-Bold-02.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-01.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Italic';
  src: url('../fonts/Helvetica-Oblique-03.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lazer84';
  src: url('../fonts/Lazer84.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}